<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PETCare"
        tools:targetApi="31">
        <activity
            android:name=".InvetarioComidaActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmacionEliminacionProductoActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".OpcionEliminarVeterinariaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionModificarVeterinariaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionAgregarVeterinariaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionOrdenarVeterinariaActivity"
            android:exported="false" />
        <activity
            android:name=".RevisionHorarioAtencionActivity"
            android:exported="false" />
        <activity
            android:name=".SeleccionAtencionHoraActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".OpcionLLamadoClienteActivity"
            android:exported="false" />
        <activity
            android:name=".InventarioOtrosProductosActivity"
            android:exported="false" />
        <activity
            android:name=".InventarioHerramientasActivity"
            android:exported="false" />
        <activity
            android:name=".InventarioMedicamentosActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".OpcionesMenuInventarioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroClienteparte2Activity"
            android:exported="false" />
        <activity
            android:name=".RegistroClienteparte1Activity"
            android:exported="false" />
        <activity
            android:name=".OpcionesPagoClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".ClienteMenuActivity"
            android:exported="false" />
        <activity
            android:name=".VeterinarioMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".EmpleadoActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".ClienteSeleccionadoActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".ClienetSeleccionadoActivity"
            android:exported="false" />
        <activity
            android:name=".ClienteSeleccioadoActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".ClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".RegistroClientesActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".OpcionesClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".OpcionesVeterinarioActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".VerClientesActivity"
            android:exported="false"
            android:theme="@style/Theme.PETCare" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>